<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Hello <%= @user.username %>!</h1>

    <p>
      Welcome to this awesome site!

      To log in click here: <%= @url %>
    </p>

    <p>
      Thank you!
    </p>
  </body>
</html>
